<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Club</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>

<%= form_for @club do |f| %>
  <div class="modal-body">
    <%= f.label "Club name" %>
    <%= f.text_field :name %>
  </div>
  
  <div class="modal-footer">
    <%= f.submit "Create",class: 'btn btn-primary' %>
  </div>
<% end %>